$home: #bbd547;
$about: #81b36e;
$ourWork: #429099;
$contact: #1375b8;
$grey: #9d9d9c;
$lightgrey: #e9e9e9;
$bodyBackground: #fafafa;
$sliderBackground: #f3f3f3;
$footerBackground: #dbdbdb;
$text: #757575;
$text-h3: #646464;
$nav: #a1a3a6;
